@font-face {
    font-family: 'roboto';
    src: url('/resources/fonts/rounded_elegance/Rounded_Elegance.ttf');
}

@font-face {
    font-family: 'comfortaa';
    src: url('/resources/fonts/comfortaa/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: 'comfortaa-bold';
    src: url('/resources/fonts/comfortaa/Comfortaa-Bold.ttf');
}

@font-face {
    font-family: 'gravity';
    src: url('/resources/fonts/gravity/Gravity-Light.otf');
}

@font-face {
    font-family: 'gravity-light';
    src: url('/resources/fonts/gravity/Gravity-UltraLight.otf');
}

@font-face {
    font-family: 'gravity-bold';
    src: url('/resources/fonts/gravity/Gravity-Bold.otf');
}

@font-face {
    font-family: 'renogare';
    src: url('/resources/fonts/sansation/Sansation_Regular.ttf');
}

body {
    margin: 0;
    background-color: #1a1a1a;
    background-image: url('/resources/images/main-background.png');
    background-attachment: fixed;
    background-position: center;
}

p {
    margin: 0;
}

.icon-div {
    /*background-color: #111;*/
    width: 150px;
    display: inline-block;
}

.icon-img-div {
    display: inline-block;
    vertical-align: top;
}

.icon-text-div {
    display: inline-block;
}

.header-div-img {
    background-color: #161616;
}

.icon {
    display: block;
    max-height: 4vh;
    margin-left: 0;
    margin-right: auto;
    padding: 1vh;
}

.icon-text {
    font-size: 100%;
    font-family: 'comfortaa-bold';
    text-align: center;
    color: #BBB;
}

.header-div:hover {
    background-color: #111;
}

.img {
    display: block;
    size: 50vw;
    margin-left: 0;
    margin-right: auto;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    display: flex;
}


/* Links inside the navbar */

.navbar .button {
    float: left;
    color: white;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
    font-size: 1.8vh;
    font-family: 'comfortaa-bold';
    text-align: center;
    color: #BBB;
    padding: 2vh;
}


/* The dropdown container */

.dropdown {
    float: left;
    font-size: 1.8vh;
    font-family: 'comfortaa-bold';
    text-align: center;
    color: #BBB;
    display: flex;
}

.dropdown-content {
    margin-top: 6vh;
}


/* Dropdown button */

.dropdown .dropbtn {
    justify-self: center;
    padding: 2vh;
    font-size: 1.8vh;
    border: none;
    outline: none;
    color: #BBB;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}


/* Add a red background color to navbar links on hover */

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #111;
}


/* Dropdown content (hidden by default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* Add a grey background color to dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

.header-div {
    background-color: #222;
    float: left;
}

.link {
    color: rgb(219, 44, 73);
    text-decoration: underline;
}

.link:visited {
    color: rgb(219, 44, 73);
    text-decoration: underline;
}


/*Horizontal*/

@media only screen and (orientation: landscape) {
    .grid-container {
        margin: 2% auto 0 auto;
        display: grid;
        grid-template-areas: "title title" "desc boxes";
        grid-template-rows: 30% 70%;
        height: 90vh;
        width: 90vw;
    }
    #jam {
        font-family: 'renogare';
        font-size: calc(100% + 6vw);
        color: white;
        padding: 0;
        position: relative;
        right: 10%;
        margin-top: 3vh;
    }
    #name1 {
        padding: 0;
        text-align: left;
        padding-left: 10%;
        grid-area: title;
    }
    .jam-description {
        font-family: gravity-bold;
        font-size: 2vw;
        color: white;
        width: 40vw;
        padding-bottom: 1%;
        position: relative;
        grid-area: desc;
    }
    .jam-sub-description {
        font-family: gravity;
        font-size: 1.5vw;
        color: white;
        width: 30vw;
        position: relative;
        grid-area: desc;
    }
    .jam-sub-description ul {
        list-style-type: '- ';
    }
    .right-img {
        margin: 0;
        padding: 0;
        float: right;
        width: 50%;
        background-color: #161616;
        flex: 2;
        height: 48.2vw;
    }
    .left-img {
        margin: 0;
        padding: 0;
        float: left;
        width: 55%;
        background-color: #161616;
        flex: 100%;
        height: 48.2vw;
    }
    .title-left {
        background-color: #111;
        font-size: 1.7vw;
        font-family: comfortaa;
        padding: 1.1vw;
        text-align: right;
        color: rgb(219, 44, 73);
        border-right: .5vw solid rgb(219, 44, 73);
        height: 2vw;
    }
    .title-right {
        background-color: #111;
        font-size: 1.7vw;
        font-family: comfortaa;
        padding: 1.1vw;
        text-align: left;
        color: rgb(63, 104, 182);
        border-left: .5vw solid rgb(63, 104, 182);
        height: 2vw;
    }
    .description {
        font-size: 1vw;
        font-family: gravity;
        padding-bottom: 1vw;
        padding-left: 1vw;
        color: #222;
        line-height: 160%;
        border-left: .2vw solid #222;
        flex: 100%;
    }
    .description-block {
        background-color: white;
        font-size: 1vw;
        font-family: gravity;
        padding: 4vw;
        padding-right: 1vw;
        padding-left: 6vw;
        color: #222;
        line-height: 160%;
        flex: 100%;
        height: 41.8vw;
        padding-top: 0;
        width: auto;
        max-height: 40vw;
    }
    .description-title {
        font-size: 2vw;
        font-family: comfortaa;
        padding: 1vw;
        padding-top: 5vh;
        margin-left: -1.2vw;
        color: #222;
        flex: 100%;
    }
    .left-right-flex {
        display: flex;
    }
    .up-down-flex-left {
        display: block flex;
        flex-wrap: hide;
        max-width: 45%;
        margin-left: auto;
        flex-basis: 100px;
    }
    .up-down-flex-right {
        display: block flex;
        flex-wrap: hide;
        max-width: 50%;
    }
    #footer {
        bottom: 0;
        background-color: #111;
        position: fixed;
        width: 100vw;
        padding: .3%;
    }
    .footer-img {
        padding: .5%;
        padding-top: .1%;
        padding-bottom: .1%;
        width: 1%;
    }
    a {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    .white-boxes-grid {
        align-self: right;
        display: flex;
        width: 100%;
        position: relative;
        top: 0;
        grid-area: boxes;
        font-size: 1vw;
    }
    .white-boxes-grid>div {
        margin: .5%;
        width: 30%;
        background-color: #EEE;
        border-color: rgb(219, 159, 170);
        padding: 1%;
        padding-top: 1px;
        border-radius: 6px;
        border-style: solid;
        border-width: 1px;
        text-align: center;
        max-height: 15vw;
        display: grid;
        grid-template-areas: "title" "desc" "button";
        grid-template-rows: 1fr 2fr 1fr;
    }
    .white-boxes-grid>div>h1 {
        padding-bottom: 5%;
        padding-top: 5%;
        font-size: 150%;
        color: #111;
        font-family: renogare;
        text-align: center;
        margin-top: 3%;
        width: 100%;
        grid-area: title;
    }
    .white-boxes-grid>div>p {
        color: #111;
        font-family: renogare;
        text-align: left;
        padding: 0;
        margin-top: -7%;
        padding-top: 5%;
        padding-bottom: 20%;
        border-top-style: solid;
        border-width: 1px;
        border-color: rgb(219, 159, 170);
        grid-area: desc;
    }
    .white-boxes-grid>div>a>button,
    #submit-button {
        transition-duration: 100ms;
        color: #111;
        font-family: renogare;
        font-size: 1.5vw;
        text-align: center;
        padding: 5%;
        width: 100%;
        margin-top: 4%;
        background-color: rgb(219, 44, 73);
        border-radius: 6px;
        border: none;
        grid-area: button;
    }
    #button1 {
        border-radius: 6px 6px 6px 2fr;
    }
    .white-boxes-grid>div>a>button:focus {
        border: none;
        outline: none;
    }
    .white-boxes-grid>div>a>button:hover {
        transition-duration: 100ms;
        border: none;
        outline: none;
        background-color: rgb(231, 68, 95);
    }
    .white-boxes-grid>div>a>button:active {
        transition-duration: 100ms;
        background-color: rgb(182, 37, 61);
        border: none;
        outline: none;
    }
    .white-boxes-grid>div>a>button:hover .fa-angle-right {
        margin-left: 2%;
        transition-duration: 100ms;
    }
    .fa-angle-right {
        transition-duration: 100ms;
    }
}

@media only screen and (max-width: 1445px) and (orientation: landscape) {
    .grid-container {
        margin: 2% auto 0 auto;
        display: grid;
        grid-template-areas: "title boxes" "desc boxes";
        grid-template-rows: 1fr 5fr;
        height: 90vh;
        width: 90vw;
    }
    #jam {
        position: relative;
        font-family: 'renogare';
        font-size: calc(100% + 5vw);
        color: white;
        right: 0;
        padding: 0;
        margin: 0;
    }
    #name1 {
        position: relative;
        padding: 0;
        margin: 0;
        text-align: right;
        grid-area: title;
    }
    .desc {
        grid-area: desc;
        position: relative;
        margin: 0;
    }
    .white-boxes-grid {
        grid-area: boxes;
        flex-direction: column;
        max-height: 90%;
        min-height: calc(200px + 30vw);
        width: 80%;
        top: 0;
        margin: 0 0 0 10%;
        padding: 0;
        font-size: 1.5vw;
        position: relative;
    }
    .white-boxes-grid>div {
        width: 100%;
        max-height: 30%;
        display: grid;
        grid-template-areas: "title" "desc" "button";
        grid-template-rows: 2fr 5fr 2fr;
        /*
        background-color: #EEE;
        border-color: rgb(219, 159, 170);
        padding: 1%;
        padding-top: 1px;
        border-radius: 6px;
        border-style: solid;
        border-width: 1px;
        text-align: center;*/
    }
    .white-boxes-grid>div h1 {
        padding-top: 1%;
        width: 100%;
        margin: 0;
        grid-area: title;
    }
    .white-boxes-grid>div p {
        margin: 0 auto;
        padding-bottom: 1%;
        padding-top: 1%;
        width: 80%;
        grid-area: desc;
    }
    .white-boxes-grid>div a button {
        padding: 2% 1%;
        margin: 0;
        width: 60%;
    }
    .white-boxes-grid>div a {
        grid-area: button;
    }
    .jam-description {
        font-family: gravity-bold;
        font-size: 3vw;
        color: white;
        width: 40vw;
        margin: 0;
        top: 0;
        left: 0;
        padding-bottom: 1%;
        position: relative;
    }
    .jam-sub-description {
        font-family: gravity;
        font-size: 2vw;
        color: white;
        width: 30vw;
        margin: 0;
        top: 0;
        left: 0;
        position: relative;
    }
}


/*Vertical*/

@media only screen and (orientation: portrait) {
    .header-div-img {
        max-height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-div-img a {
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .icon {
        padding: 0;
        margin: 0;
        max-height: 70%;
    }
    .navbar {
        overflow: hidden;
        background-color: #333;
        font-family: Arial;
        display: flex;
        width: 100%;
        height: 60px;
    }
    .header-div {
        flex: 1;
        max-height: 70px;
        align-items: center;
    }
    .header-div a,
    .header-div div a {
        width: 100%;
    }
    /* Links inside the navbar */
    .navbar .button,
    .dropbtn,
    .dropdown,
    .header-div {
        padding: 0;
        margin: 0;
        justify-self: center;
        align-self: center;
        height: 70px;
    }
    .button,
    .dropbtn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-button {
        font-size: 2.8vw;
        width: 100%;
    }
    /* The dropdown container */
    .dropdown {
        float: left;
        font-size: 1.8vh;
        font-family: 'comfortaa-bold';
        text-align: center;
        color: #BBB;
        display: flex;
        width: 100%;
    }
    .dropdown-content {
        position: fixed;
        margin: 0;
        top: 60px;
        font-size: 140%;
    }
    .dropdown-content a::before,
    .dropdown-content a::after {
        content: "\0000a0";
    }
    .dropdown-content a {
        padding: 20px 0;
        margin: 0;
    }
    /* Dropdown button */
    .dropdown .dropbtn {
        justify-self: center;
        font-size: 1.8vh;
        border: none;
        outline: none;
        color: #BBB;
        background-color: inherit;
        font-family: inherit;
        padding: 0;
        /* Important for vertical align on mobile phones */
        margin: 0;
        /* Important for vertical align on mobile phones */
    }
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
    }
    #jam {
        font-family: 'renogare';
        font-size: 12vw;
        color: white;
        padding: 0;
        position: relative;
        flex: 1;
    }
    #name1 {
        padding: 0;
        text-align: center;
        width: 100%;
        position: relative;
        flex: 1;
    }
    .right-img {
        max-width: 100%;
        background-color: #161616;
    }
    .left-img {
        max-width: 100%;
        background-color: #161616;
    }
    .title-left,
    .title-right {
        background-color: #111;
        font-size: 4vw;
        font-family: gravity;
        padding: 1.1vh;
        color: rgb(219, 44, 73);
        margin-top: -.5vh;
        border-top: .5vw solid rgb(219, 44, 73);
        text-align: center;
    }
    .jam-description {
        font-family: gravity-bold;
        font-size: 180%;
        color: white;
        width: 100%;
        padding-bottom: 1%;
        text-align: center;
    }
    .jam-sub-description {
        font-family: gravity;
        font-size: 120%;
        color: white;
        margin: 1% auto;
        width: 80%;
        top: 55vh;
        left: 100px;
    }
    .jam-sub-description ul {
        list-style-type: '- ';
    }
    .description {
        background-color: #EEE;
        font-size: 3vw;
        font-family: comfortaa;
        padding-bottom: 3vh;
        padding-left: 3vh;
        color: #222;
        line-height: 160%;
    }
    .description-block {
        background-color: #EEE;
        font-size: 1vw;
        font-family: gravity;
        padding: 4vw;
        padding-left: 6vw;
        color: #222;
        line-height: 160%;
    }
    .description-title {
        font-size: 5vw;
        font-family: comfortaa;
        padding-bottom: 5vw;
        padding-top: 5vh;
        text-align: center;
        color: #222;
    }
    #footer {
        bottom: 0;
        background-color: #111;
        position: fixed;
        width: 100vw;
        padding: .3%;
        display: flex;
        margin: 0;
        left: 0;
    }
    .footer-img {
        padding-left: 4%;
        padding-top: 1%;
        height: 5vh;
    }
    .white-boxes-grid {
        position: unset;
        margin: unset;
        top: unset;
        display: flex;
        width: 100%;
        flex-direction: column;
        padding-bottom: 10%;
    }
    .white-boxes-grid>div {
        align-self: center;
        width: 100vw;
        background-color: #EEE;
        border: none;
        text-align: center;
        flex: 1;
    }
    .white-boxes-grid>div>h1 {
        padding-bottom: 5%;
        padding-top: 5%;
        font-size: 200%;
        color: #111;
        font-family: renogare;
        text-align: center;
        width: 100%;
        background-color: rgb(189, 189, 189);
        margin: 0;
    }
    .white-boxes-grid>div>p {
        color: #111;
        font-family: renogare;
        font-size: 200%;
        text-align: left;
        padding: 0;
        margin-top: -7%;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 70%;
        margin: 0 auto;
    }
    .white-boxes-grid>div>a>button {
        transition-duration: 100ms;
        color: #111;
        font-family: renogare;
        font-size: 150%;
        text-align: center;
        padding: 5%;
        width: 60%;
        margin: 4% 0;
        background-color: rgb(219, 44, 73);
        border-radius: 6px;
        border: none;
    }
    #button1 {
        border-radius: 6px 6px 6px 2fr;
    }
    .white-boxes-grid>div>a>button:focus {
        border: none;
        outline: none;
    }
    .white-boxes-grid>div>a>button:hover {
        transition-duration: 100ms;
        border: none;
        outline: none;
        background-color: rgb(231, 68, 95);
    }
    .white-boxes-grid>div>a>button:active {
        transition-duration: 100ms;
        background-color: rgb(182, 37, 61);
        border: none;
        outline: none;
    }
    .white-boxes-grid>div>a>button:hover .fa-angle-right {
        margin-left: 2%;
        transition-duration: 100ms;
    }
    .fa-angle-right {
        transition-duration: 100ms;
    }
}